<h2 class="title">Edit</h2>


<div class="form-container">
  <%= simple_form_for @pickup do |f| %>
    <%= f.input :bottles, label: false, placeholder: 'bottles'  %>
    <%= f.input :location, label: false, placeholder: 'location'  %>
    <%= f.input :info, label: false, placeholder: 'info' %>
    <%= f.button :submit %>
  <% end %>
</div>
