<div
  id="map"
  style="height: 100%; width: 100%;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="address-cards-wrapper">

<!-- <div class="address-cards-wrapper">

<% @pickups.each_with_index do |pickup, index|  %>
  <div class="address-cards-container">
    <div class="address-card">
      <div class="card__wrapper-left">
        <div class="card-num"><%= index + 1 %></div>
        <div class="card-wrapper-left__upper">
          <h3 class="address"><%= pickup.location %></h3>
        </div>
        <div class="card-wrapper-left__lower">
          <div class="icon-container icon-container--bottle">
            <i class="fas fa-wine-bottle"></i>
            <p class="bottle-amount"><%= pickup.bottles %></p>
          </div>
          <div class="icon-container icon-container--home">
            <i class="fas fa-home"></i>
            <p class="house-distance-amount"><%= 400 %>m</p>
          </div>
          <i class="fas fa-info"></i>
        </div>
      </div>
      <div class="card__wrapper-right">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>
<% end %>
 -->
