<div class="show-h2">
  <h2>PICKUP</h2>
</div>
<div class="show-h22">
  <h2><%= @pickup.status %></h2>
</div>

<div class="show-container">
  <p><%= image_tag('bottle.svg') %><%= @pickup.bottles %></p>
  <p><%= image_tag('house.svg') %><%= @pickup.location %></p>
  <p><%= image_tag('info.svg') %><%= @pickup.info %></p>
</div>

<div class="show-button">
  <% if @pickup.user == current_user %>
    <%= link_to 'edit', edit_pickup_path(@pickup), class: 'btn' %>
  <% else %>
    <%= link_to 'completed', completed_path(@pickup), method: 'post', class: 'btn' %>
  <% end %>
</div>
